{% extends "cv/cv_base.html" %}
{% load i18n %}
{% block title %}Dump to LaTex{% endblock%}
{% block app_content %}
<p> Choose what to include in LaTex Dump</p>
<form action="" method="post">
    {% csrf_token %}
{{form.as_p}}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
