{% extends "cv/cv_base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock%}
{% block app_content %}
{% load markdown_deux_tags %}
<h2>{{ title }}</h2>
<table class="table">
  {% for experience in experience_list %}
  <tr>
    {% if experience.exp.startyear != experience.exp.endyear %}
    <td class="vert-align col-md-2">{{ experience.exp.startyear }} - {{ experience.exp.endyear }}</td>
    {% else %}
    <td class="vert-align col-md-2">{{ experience.exp.startyear }}</td>
    {% endif %}
    <td><h3>{{ experience.title }} - {{ experience.duration }}</h3>{{ experience.description|markdown }}
      {% for place in experience.place.all %}
        <b>{{ place.entity }}</b> -
        {{ place.place }}<br />
      {% endfor %}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
