{% extends "cv/cv_base.html" %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock%}
{% block app_content %}
{% load markdown_deux_tags %}
<!-- Tab panes -->
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div>
      <h2>Contact</h2>
      <table class="table">
        <tbody>
          {% comment %}
          <tr>
            <td class="vert-align"><p><span class="glyphicon glyphicon-home" aria-hidden="true"></p></span></td>
            <td>{{author.address|markdown}}</td>
          </tr>
          <tr>
            <td class="vert-align"><p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></p></td>
            <td>{{author.phone|markdown}}</td>
          </tr>
          <tr>
            <td class="vert-align"><p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></p></td>
            <td>{{author.email|markdown}}</td>
          </tr>
          {% if author.other %}
          <tr>
            <td class="vert-align"><p><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></p></td>
            <td>{{author.other|safe}}</td>
          </tr>
          {% endif %}
          {% endcomment %}
          <tr>
            <td class="vert-align"><p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></p></td>
            <td>{{author.email|markdown}}</td>
          </tr>
          {% if author.other %}
          <tr>
            <td class="vert-align"><p><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></p></td>
            <td>{{author.other|markdown}}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <div>
      <h2>{% trans "Skills" %}</h2>
      {% for skill in skills %}
      <h4>{{skill.title}}</h4>
      <div class="progress">
        <div class="progress-bar" style="width: {{skill.skill.level}}%;">
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  <div class="col-md-8 col-md-pull-4">
    <div>
      {% for exptype,experiences in dictarr.items %}
      <h2>{{exptype.title}}</h2>
      <table class="table">
          {% for experience in experiences %}
        <tr>
          <td class="vert-align col-md-2">
{% if experience.exp.startyear != experience.exp.endyear %}
{{ experience.exp.startyear }} - {{ experience.exp.endyear }}
{% else %}
{{ experience.exp.startyear }}
{% endif%}
</td>
<td><h3>{{ experience.title }} {#- {{ experience.duration }}#}</h3>{{ experience.description|markdown }}
            {% for place in experience.place.all %}
            <b>{{ place.entity }}</b> -
            {{ place.place }}<br />
            {% endfor %}</td>
        </tr>
          {% endfor %}
      </table>
      {% endfor %}


    </div>
  </div>
</div>
</div>


{% endblock %}
