{% extends "cv/cv_base.html" %}
{% load i18n %}
{% block title %}{{ title }} {% endblock%}
{% block app_content %}
{% load markdown_deux_tags %}
<h2>{{ title }}</h2>
<table class="table">
  {% for various in various_list %}
  <tr>
    <td><h3>{{ various.title }}</h3>{{ various.description|markdown }}
      </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
