.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
.table tbody>tr>td.date{
    vertical-align: middle;
      transform: 
    /* Magic Numbers */
    rotate(320deg);
}
.fixed {
        position: fixed;
}
